@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
	scroll-behavior: smooth;
	/*scroll-padding: 5rem;*/
	overflow-x: hidden !important;
	max-width: 100vw;
}

h2,h3,h4{
	@apply font-syne;
}

* {
	@apply font-poppins;
}

body {
	overflow-y: hidden !important;
	/*background: url("./images-opt/wallpaper-min.png") no-repeat center center;*/

	background: linear-gradient(-45deg, #D79FF3, #E592FD, #F995A8);

	background: -moz-linear-gradient(-45deg, #D79FF3, #E592FD, #F995A8);

	background: -webkit-linear-gradient(-45deg, #D79FF3, #E592FD, #F995A8);

	/*animation: gradient 10s ease infinite;
	-webkit-animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;*/
	background-size: 400% 400%;
	/*background-size: cover;*/
}

@keyframes gradient {
	0%{background-position:0 50%}
	50%{background-position:50% 100%}
	100%{background-position:0 50%}
}

@-webkit-keyframes gradient {
	0%{background-position:0 50%}
	50%{background-position:50% 100%}
	100%{background-position:0 50%}
}

@-moz-keyframes gradient {
	0%{background-position:0 50%}
	50%{background-position:50% 100%}
	100%{background-position:0 50%}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #E592FD;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #A78CFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #70409A;
}
